<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/css.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>HOLA</h1>
    <div id="uno">
        <img src="{%static 'img/a.jfif' %}" id="img1">
    </div>
    <div id="ola">
        <ul>
            <li>{{nombre}}</li>
            <li>{{edad}}</li>
            <li>{{mascota}}</li>
        </ul>
    </div>
    
</body>
</html>